@tailwind base;
@tailwind components;
@tailwind utilities;

/* general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  --font-heading: "Oswald", Arial, sans-serif;
  --font-text: "Poppins", Arial, sans-serif;
  --color-dark: rgb(19, 19, 17);
  --color-white: rgb(255, 255, 255);
  --color-orange: rgb(255, 145, 2);
  --color-yellow: rgb(255, 231, 47);
  --color-brown: rgb(82, 44, 26);
  --color-blue: rgb(0, 149, 154);
  --color-red: rgb(255, 89, 89);
  --color-gray: #f5f5f5;
  font-family: var(--font-text);
  color: var(--color-dark);
  scroll-behavior: smooth !important;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.main-wrapper {
  min-height: 100vh;
  position: relative;
  animation: fade-in both ease 1s;
}

.content-container {
  width: 100%;
  padding: 20px 10px;
  z-index: 99;
  position: relative;
}

.content-wrapper {
  padding: 10px;
  max-width: 1000px;
  margin: auto;
  overflow-x: hidden;
}

.logo-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 99;
  animation: fade-in 1s ease backwards;
  width: calc(100px + 2vw);
  height: fit-content;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 15px;
  animation: fade-in 1s ease backwards;
}

.icon-container {
  width: 20px;
  height: 20px;
  transition: transform 0.1s ease;
}

.icon-container:hover {
  transform: rotate(5deg) scale(1.1);
}

.icon-container svg[data-nav-active="true"] {
  fill: var(--color-orange);
  animation: fade-up 0.5s both ease;
  animation-delay: 0.5s;
}

.icon-container:hover svg {
  fill: var(--color-orange);
}

.bg-fade {
  position: absolute;
  inset: 0;
  background-color: rgba(57, 57, 57, 0.35);
  z-index: 9;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 999;
  transition: transform 0.3s ease;
}

.whatsapp:hover {
  transform: scale(1.3);
}

.scroll-up-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 999;
  width: 40px;
  height: 40px;
  animation: fade-in both 0.5s ease;
}

.scroll-up-btn .material-symbols-outlined {
  font-size: 2.12rem;
  color: var(--color-gray);
  background-color: var(--color-brown);
  border-radius: 50%;
  border: 3px solid var(--color-gray);
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.main-btn-container,
.secondary-btn-container {
  text-align: center;
  margin: 5px;
}

.main-btn-container a {
  border-radius: 100vw;
  padding: 10px 20px;
  background-color: var(--color-orange);
  color: white;
  font-family: var(--font-text);
  font-size: 1.2rem;
}

.secondary-btn-container a {
  border-radius: 100vw;
  padding: 10px 20px;
  background-color: var(--color-blue);
  color: var(--color-white);
  font-family: var(--font-text);
  font-size: 1rem;
}

.component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* keyframes */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translate3d(0, 60%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translate3d(-3%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bg-img {
  0% {
    transform: scale(1.2) translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: scale(1) translate3d(0, 0%, 0);
  }
}

/* <Header /> */
.inicio-wrapper .header-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 10px;
}

.header-wrapper {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-container {
  display: none;
}

.main-nav {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.nav-list a {
  font-size: 1.3rem;
}

.nav-list a:hover {
  border-bottom: 2px solid var(--color-dark);
}

.burger-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.nav-burger {
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 100%;
  gap: 7px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.line-one,
.line-two {
  width: 35px;
  height: 2px;
  transition: 0.2s ease transform;
  background-color: white;
}

.toggle .line-one {
  transform: rotate(45deg) translate3d(7px, 0, 0);
}

.toggle .line-two {
  transform: rotate(-45deg) translate3d(7px, 0, 0);
}

/* <Inicio /> */
.inicio-wrapper {
  width: 100%;
  position: relative;
}

.inicio-wrapper .active {
  border-bottom: 2px solid var(--color-white);
}

.inicio-wrapper .line-one,
.inicio-wrapper .line-two {
  background-color: var(--color-white);
}

.inicio-wrapper .content-container h2 {
  color: var(--color-white);
  margin: 10px;
}

.inicio-wrapper svg {
  fill: var(--color-white);
}

.inicio-wrapper .nav-list a:hover {
  border-bottom: 2px solid var(--color-white);
}

.inicio-slider-info {
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.inicio-slider-info h2 {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  font-weight: 500;
  line-height: 45px;
}

.inicio-bg-slider {
  position: relative;
  padding: 10px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.inicio-bg-item {
  position: absolute;
  inset: 0;
  opacity: 0;
  overflow: hidden;
}

.show-item {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  /* transition: 0.5s ease all; */
}

.bg-img {
  position: absolute;
  inset: 0;
  height: 100%;
}

.show-item img {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  animation: bg-img both ease 10s;
}

/* .inicio-bg-item:nth-child(1) {
  background: url("../assets/webpImages/img1.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.inicio-bg-item:nth-child(2) {
  background: url("../assets/webpImages/img2.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.inicio-bg-item:nth-child(3) {
  background: url("../assets/webpImages/img4.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.inicio-bg-item:nth-child(4) {
  background: url("../assets/webpImages/img6.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.inicio-bg-item:nth-child(5) {
  background: url("../assets/webpImages/img25.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

.inicio-intro {
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 40px 0;
}

.inicio-intro-img {
  max-width: 500px;
  align-self: center;
}

.inicio-intro h2 {
  display: block;
  font-family: var(--font-heading);
  font-size: 2.5rem;
  margin: 10px 0;
  padding: 20px;
  text-align: center;
  font-weight: 500;
  line-height: 45px;
  background-color: var(--color-orange);
  color: var(--color-white);
}

.inicio-intro p {
  display: block;
  margin: 20px 0;
  padding: 20px;
}

.info-component-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
}

.info-component-container h2 {
  align-self: flex-start;
  display: block;
  font-family: var(--font-heading);
  font-size: 2.5rem;
  margin: 10px 0;
  padding: 20px;
  text-align: center;
  font-weight: 500;
  line-height: 45px;
  background-color: var(--color-orange);
  color: var(--color-white);
}

.info-component {
  position: relative;
  width: 100%;
  height: calc(400px + 10vw);
  display: flex;
  flex-direction: column;
}

.info-component .bg-fade {
  opacity: 0;
  transition: 0.5s ease all;
}

.info-bg-container {
  position: relative;
  width: 100%;
  flex-basis: 60%;
}

.info-component-bg {
  position: absolute;
  inset: 0;
}

.info-component-cta {
  width: 100%;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
  background-color: var(--color-gray);
  color: var(--color-dark);
}

.info-component-cta h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.info-component-cta p {
  font-size: 0.9rem;
}

.amenities-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amenities-grid {
  max-width: 100%;
  display: grid;
  gap: 10px 5px;
  padding: 10px;
  margin: 20px 0;
  background-color: var(--color-gray);
  color: black;
  grid-template-columns: repeat(3, minmax(50px, 200px));
  grid-template-rows: auto;
}

.amenities-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.amenities-item span,
.amenities-item h3 {
  text-align: center;
}

.amenities-item h3 {
  font-size: 0.9rem;
}

/* <About /> */
.about-wrapper {
  width: 100%;
  position: relative;
}

.about-wrapper a {
  color: black;
}

.about-wrapper .line-one,
.about-wrapper .line-two {
  background-color: var(--color-dark);
}

.about-wrapper .active {
  border-bottom: 2px solid var(--color-dark);
}

.about-wrapper .footer-container {
  transform: translate3d(0, 150px, 0);
}

.about-content-wrapper .main-btn-container a {
  color: white;
}

.about-content-container {
  position: relative;
  margin: auto;
  margin-top: 5vw;
  margin-bottom: 8vw;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.about-hero-container,
.about-content {
  flex-basis: 50%;
}

.about-hero-container {
  animation: fade-in-left 1s ease forwards;
}

.about-heading h2 {
  align-self: flex-start;
  display: block;
  font-family: var(--font-heading);
  font-size: 2.5rem;
  margin: 10px 0;
  padding: 20px;
  text-align: center;
  font-weight: 500;
  line-height: 45px;
  background-color: var(--color-orange);
  color: var(--color-white);
}

.about-hero-img {
  padding: 15px;
  margin: auto;
  opacity: 0;
  animation: fade-in forwards 0.5s ease;
  animation-delay: 0.5s;
}

.about-description {
  text-align: justify;
  word-break: break-word;
  font-size: 1.1rem;
  letter-spacing: 0.3px;
  line-height: 1.2;
  opacity: 0;
  transform: translate3d(0, 5%, 0);
  transition: all 1s ease;
}

.in-view {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.fotografia-link-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* <Contact /> */
.contact-wrapper {
  width: 100%;
  position: relative;
}

.contact-wrapper a {
  color: var(--color-dark);
}

.contact-wrapper .line-one,
.contact-wrapper .line-two {
  background-color: var(--color-dark);
}

.contact-wrapper .active {
  border-bottom: 2px solid var(--color-dark);
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  max-width: 1000px;
  margin: auto;
  margin-top: 5vw;
}

.contact-info-container h2 {
  align-self: flex-start;
  display: block;
  font-family: var(--font-heading);
  font-size: 2.5rem;
  margin: 10px 0;
  padding: 20px;
  text-align: center;
  font-weight: 500;
  line-height: 45px;
  background-color: var(--color-orange);
  color: var(--color-white);
}

.contact-info-container .google-map iframe {
  height: 250px;
}

.contact-copy,
.contact-info {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  animation: fade-in-left 1s forwards ease;
}

.contact-info a {
  text-decoration: underline;
}

.contact-info-container .social-container {
  margin: 20px 0;
  align-self: flex-start;
}

.contact-copy h2 {
  font-family: var(--font-text);
  font-size: 1.8rem;
}

.contact-copy p {
  margin-top: 20px;
}

.contact-info p {
  margin-top: 5px;
}

.contact-info p:hover a {
  color: var(--color-orange);
}

.contact-info-container p {
  font-size: 1.2rem;
  letter-spacing: 0.3px;
  line-height: 1.2;
}

.contact-info-container .social-container svg,
.contact-info-container .social-container .icon-container {
  height: 30px;
  width: 30px;
}

/* <MobileNav /> */
.mobile-nav-container {
  position: fixed;
  inset: 0;
  background-color: white;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate3d(100%, 0, 0);
  opacity: 0;
  transition:
    0.3s ease opacity,
    0s ease transform;
}

.nav-active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

/* .mobile-nav {
  margin-bottom: 50px;
} */

.mobile-nav-container .header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.mobile-nav-container .line-one,
.mobile-nav-container .line-two {
  background-color: var(--color-dark);
}

.mobile-nav-container .logo a {
  color: var(--color-dark);
}

.mobile-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.fade-up {
  animation: fade-up 1s ease forwards;
}

.fade-down {
  animation: fade-up 1s ease backwards;
}

.mobile-list a {
  font-size: 2rem;
  color: var(--color-dark);
}

.mobile-list .active {
  border-bottom: 2px solid var(--color-dark);
}

.mobile-nav-container .social-container {
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0;
}

.mobile-nav-container svg,
.mobile-nav-container .icon-container {
  width: 25px;
  height: 25px;
  fill: var(--color-dark);
}

/* <Footer /> */
.footer-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 700px;
  padding: 10px;
  background-color: var(--color-dark);
  color: white;
}

.footer-container svg {
  fill: white;
}

.footer-grid {
  max-width: 1700px;
  margin: auto;
  height: fit-content;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.footer .logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footer .logo {
  max-width: calc(100px + 2vw);
  display: block;
}

.footer a {
  display: block;
}

.footer-info-container {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.footer-info li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.google-map-container {
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-map {
  width: 100%;
}

.google-map iframe {
  width: 100%;
  height: 250px;
}

/* media queries */
@media screen and (min-width: 991px) {
  /* general-styles */
  .whatsapp {
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
  }

  /* <Header /> */
  .header {
    padding: 30px 50px;
  }

  .nav-container {
    display: block;
  }

  .nav-burger {
    display: none;
  }

  .nav-list {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  /* <Inicio /> */
  .info-component {
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
  }

  .info-bg-container {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .info-component-bg {
    transform: scale(1.3) translate3d(10%, 0, 0);
    transition: 0.5s ease all;
  }

  .info-component:hover .info-component-bg {
    transform: scale(1.1) translate3d(0, 0, 0);
  }

  .info-component:hover .bg-fade {
    opacity: 1;
  }

  .info-component-cta {
    width: 45%;
    margin-bottom: 50px;
  }

  .amenities-grid {
    padding: 15px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
  }

  .amenities-item span {
    font-size: 30px;
  }

  .amenities-item h3 {
    font-size: 1rem;
  }

  /* <About /> */
  .about-content-container {
    max-width: 1200px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .about-heading h2 {
    font-size: 2.2rem;
  }

  .about-hero-img {
    padding: 0;
  }

  .page-link {
    /*  */
  }

  /* <Contact /> */
  .contact-info-container .google-map iframe {
    height: 400px;
  }

  .contact-copy,
  .contact-info {
    margin: 30px 0;
    flex-basis: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .contact-info-container .footer-info-container {
    justify-content: flex-start;
  }

  .contact-info-container .social-container {
    margin: 30px 0;
    flex-basis: 30%;
    align-self: flex-start;
    justify-content: flex-start;
  }

  .contact-copy h2 {
    font-size: 2.5rem;
  }

  .contact-info-container p {
    font-size: 1.5rem;
  }

  .contact-info-container .social-container svg,
  .contact-info-container .social-container .icon-container {
    height: 30px;
    width: 30px;
  }

  /* <MovileNav /> */

  /* <Footer /> */
  .footer {
    min-height: auto;
    height: fit-content;
  }

  .footer-grid {
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
